<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--1：讀取指定路徑(SourcePath)下所有檔名，並匯出FileList.xlsx。2：讀取FileList.xlsx並依內容將檔案重新命名-->
    <add key="Model" value="1"/>
    <add key="SourcePath" value="D:\Bearway\Test"/>
  </appSettings>
</configuration>